#content-image{
    position: relative;
}

    #post-image{
        width: 1280px;
        height: 555px;
    }

    #header{
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #content{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #333;
        opacity: .9;
        margin: 40px 0 0 0;
    }

        #author-image{
            width: 75px;
            height: 75px;
            position: absolute;
            top: 25px;
            left: 20px;
            border-radius: 50%;
        }

        #publish-date{
            color: #EFEFEF;
            font: normal normal 20px 'Roboto', sans-serif;
            margin: 25px 115px 15px;
        }

        #title{
            color: #93F699;
            font: normal normal 45px 'Roboto', sans-serif;
            margin: 0 115px;

            text-align: justify;
            word-break: break-all;
        }

        #content-text{
            color: #EFEFEF;
            font: normal normal 33px 'Roboto', sans-serif;
            margin: 15px 115px 0;

            text-align: justify;
            word-break: break-all;
        }

        #author-name{
            color: #EFEFEF;
            font: normal normal 20px 'Roboto', sans-serif;
            margin: 25px 115px 15px;
        }

/*#external-card {
	border: 1px solid #bebebe; 
	padding: 16px; 
	margin: 16px; 
	border-radius: 5px; 
	background-color: #fff; 
	color: #555;
}

#header {
	border-bottom: 0px solid #DDD; 
	margin-bottom:10px;
}

#content {
	margin-left: 10px;
    margin-top: 10px;
  	margin-right: 10px;
  	margin-bottom: 10px;
}

#author-image {
	-webkit-box-shadow: -1px 9px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 18px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 18px 0px rgba(0,0,0,0.75); 
    margin-left: 10px;
    margin-top: 10px;
  	margin-right: 20px;
  	margin-bottom: 20px;
}

#title {
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	font-weight: 100;
	color: #888;
}

#author-name {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	font-weight: 100;	
	color: #888;
}

#publish-date {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	font-weight: 100;	
	color: #888;	
}

#content-text {
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	font-weight: 100;	
	color: #888;	
	padding-bottom: 8px;
}

#content-image {
	margin-left: 10px;
    margin-top: 10px;
  	margin-right: 20px;
  	margin-bottom: 20px;
  	text-align: center;
}*/