@import url(http://fonts.googleapis.com/css?family=Roboto:500,700,400);

body {
  background-color: #DDD;
}

core-toolbar {
	background-color: #D71F3C;
	font-size: 40px;
	font-family:'Roboto' !important;
	font-style: normal;
	font-weight: 100;
	color: white;
}

paper-progress::shadow #activeProgress {
  background-color: #BA1C35;
}

paper-progress::shadow #secondaryProgress {
  background-color: #1a8eb1;
}

paper-progress::shadow #progressContainer {
  background-color: #999;
}

core-pages {
  border: 1px solid black;
  -webkit-user-select: none;
  border-radius: 5px;
}

core-pages > div {
  display: fit;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
}

core-pages.fancy {
  border: none;
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 2em;
}

core-pages.fancy > div {
  opacity: 0;
  -webkit-transform: translate3d(-100px, 0, 0) scale(0.9);
  transform: translate3d(-100px, 0, 0) scale(0.9);
  transition: all 1s cubic-bezier(.03,.56,.7,.98);
  color: black;
}

core-pages.fancy .core-selected + div {
  -webkit-transform: translate3d(100px, 0, 0) scale(0.9);
  transform: translate3d(100px, 0, 0) scale(1);
}

core-pages.fancy .core-selected {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

core-pages.fancy div.begin {
  -webkit-transform: translate3d(100px, 0, 0) scale(0.9);
  transform: translate3d(100px, 0, 0) scale(0.9);
}